
/*
  This file is used for all of your global styles and CSS variables.
  Check here https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties for more info on using CSS variables.
*/
:root {
  --n-color-accent: #FF2F92;
  --n-color-accent-secondary: #FF2F92;
  --n-tab-color: #d12a7b;
  --n-color-text-link: #d12a7b;
}

html, body {
  font-family: var(--n-font-family);
  padding: 0;
  margin: 0;
  background-color: #f1f1f1;
}

/* @media (prefers-color-scheme: dark) {

  html,
  body {
    background-color: #181818;
    color: white;
  }
}

@media (prefers-color-scheme: light) {

  html,
  body {
    background-color: #f5f5f5;
    color: black;
  }
} */